<!DOCTYPE html>
<html>
<head>
    <title>Домашняя страничка ваше имя и фамилия</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<center>
    <br><br><br><br>
    <table border="1" width="650" height="480">
        <td colspan="3" height="150"><center></center>
           <img align="left" style="position: relative;width: 650px;height: 200px; left: 0%;" src="gif1.gif">
        </td>
        <tr>
            <td height="10" width="10%"><center><a href="page2.html">Обо мне</a></center></td> 
            <td width="10%"><center><a href="page3.html"><top>Здесь мои фотки</top></a></center></td>
            <td width="10%"><center><a href="page4.html">Напиши мне письмо</a></center></td> 
        </tr>
        <tr>
        <td colspan="3" height="80"><p align="left"><right>
        <center><a style="position: relative;width: 300;height: 200;right: 1%;" href="https://youtu.be/UVbSF2LTBnQ">Кликни сюда</a></center>
        <b><center>Shadow Fiend</center></b> 
        <p>— это герой с дальним типом атаки, основным атрибутом которого является Agility attribute Ловкость. Первые три способности,  Shadowraze, разрывают участок земли перед Shadow Fiend, нанося урон всем врагам в зоне действия. Разница между этими способностями заключается в дальности применения. Первая пассивная способность,  Necromastery, крадет душу каждого убитого врага, давая бонус к урону атак. После смерти треть из них теряется. Вторая пассивная способность,  Presence of the Dark Lord, снижает броню ближайших врагов. Ультимативная способность,  Requiem of Souls, выпускает собранные души, которые наносят урон всем существам вокруг, также они снижают наносимый ими урон и накладывают эффект страха. Если Shadow Fiend погибает, то способность автоматически срабатывает вне зависимости от ее готовности, но не применяет страх и действует вполсилы.
        </p>
    <img align="right" style="position: relative;width: 200px;height: 200px; left: 0%;" src="gif2.gif">
     <b>История:</b>
        <br>
        <p>Говорят, у Невермора душа поэта, но на самом деле у него их тысячи. Веками он поглощал души стихотворцев, священников, императоров, нищих, рабов, философов, преступников и, естественно, героев. Не скрыться от него ни душе. Никто не знает, что он с ними делает. Никто не вглядывался в Бездну, где среди астральных скал Невермор таится, словно змея. Пожирает ли он души одну за другой? Выставляет ли он их трофеями в коридорах зловещего храма? Маринует ли в чернокнижном рассоле? А может, он — лишь марионетка, которой кукловодит зловещий разум извне пространства? Таково его зло, настолько силен его тёмный дух, что разумом его не понять. А если вам всё же очень хочется разузнать, что он делает с душами, то всё просто: присоединяйтесь к его коллекции. Или просто подождите: Невермор уже идёт к вам.</p>
    <a style="position: relative;width: 300;height: 200;left: 45%;" href="https://dota2.fandom.com/ru/wiki/Shadow_Fiend">ГУЛЬ</a></td>
        </tr>
        <tr>
            <td colspan="3" height="10" width="10%"><center><b>Виноградов Дима</b></center></td>
        </tr>
    </table>
</center>
</body>
</html>